{% macro item_cell(product, form) %}
{% set editing = form != Null %}
<table>
    <tbody>
        <tr>
            <td>
                <img src ="image/{{ product['image_url'] }}">
            </td>
            <td class="details">
                <table>
                <tbody>
                    <tr>
                        <td>
                        {% if editing %}
                            {{ wtf.form_field(form.name) }}
                        {% else %}
                            Product name: {{ product['name'] }}
                        {% endif %}
                        </td>
                        <td>
                        {% if editing %}
                            {{ wtf.form_field(form.price) }}
                        {% else %}
                            Price: {{ product['price'] }}
                        {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                        {% if editing %}
                            {{ wtf.form_field(form.utility) }}
                        {% else %}
                            Utility: {{ product['utility'] }}
                        {% endif %}
                        </td>
                        <td>
                        {% if editing %}
                            {{ wtf.form_field(form.marginal_utility) }}
                        {% else %}
                            Marginal utility: {{ product['marginal_utility'] }}
                        {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="description">
                        {% if editing %}
                            {{ wtf.form_field(form.description) }}
                        {% else %}
                            Description:<br/>{{ product['description'] }}
                        {% endif %}
                        </td>
                    </tr>
                </tbody>
                </table>
            </td>
        </tr>
    </tbody>
    </table>
{% endmacro %}

<div class="items_grid container">
    {% if products is iterable %}
        {% for product in products %}
            <a href = "product/{{ product['id'] }}">
                {{ item_cell(product) }}
            </a>
        {% endfor %}
    {% else %}
        {{ item_cell(products, form) }}
    {% endif %}
</div>
