{% extends "layout.html" %}

{% block title %}
    <title>About This Project</title>
{% endblock %}

{% block content %}
  <style>
  body {
    background-image: url('about.png');
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

  }
  </style>
  <head>

    <title> About </title>


  </head>
  <body>
    <p style="text-align:center;padding:200px; font-family:serif; font-size:50px;font-style: bold">
      UTIL: Squeezing the most out of every dollar! Our goal is to make customers
      satisfied with the items they buy regardless their limited budget.
    </p>

  </body>
{% endblock %}
