{% import "bootstrap/wtf.html" as wtf %}
<html>
<head>
{% block head %}
    {% block title %}
    <title>Home</title>
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block style %}
    <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='css/main.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='vendor/bootstrap/css/bootstrap.min.css')}}">
    {% endblock %}
{% endblock %}
</head>
<body>
    {% block header %}

    <!-- Header -->
    <header class="header1">
        <!-- Header desktop -->
        <div class="container-menu-header">
            <div class="topbar">

                <span class="topbar-child1">

                </span>

                <div class="topbar-child2">
                    <span class="topbar-email">
                    </span>

                    <div class="topbar-language rs1-select2">
                        <select class="selection-1" name="currency">
                            <option>MYR</option>
                            <option>USD</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="wrap_header">
                <!-- Logo -->
                <a href="home" class="logo">
                    <img src="{{url_for('.static', filename='images/icons/logo.png')}}" alt="IMG-LOGO">
                </a>

                <!-- Menu -->
                <div class="wrap_menu">
                    <nav class="menu">
                        <ul class="main_menu">
                            <li>
                                <a href="home">Home</a>
                            </li>

                            <li>
                                <a href="product.html">Product</a>
                            </li>


                            <li>
                                <a href="about_us">About</a>
                            </li>

                            <li>
                                <a href="contact_us">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <!-- Header Icon -->
                <div class="header-icons">
                    <a href="#" class="header-wrapicon1 dis-block">
                        <img src="{{url_for('.static', filename='images/icons/icon-header-01.png')}}" class="header-icon1" alt="ICON">
                    </a>

                    <span class="linedivide1"></span>

                    <div class="header-wrapicon2">
                        <img src="{{url_for('.static', filename='images/icons/icon-header-02.png')}}" class="header-icon1 js-show-header-dropdown" alt="ICON">
                        <span class="header-icons-noti">0</span>



                    </div>
                </div>
            </div>
        </div>
    </header>
    {% endblock %}

    {% block upper_content %}

    {% endblock %}


    {% block content %}
      <div class ="image">
        <img src="{{url_for('static',filename='images/first_page.jpg')}}" alt="IMG-BANNER">
      </div>
    {% endblock %}

    {% block footer %}
      <script type="text/javascript" src="{{url_for('.static', filename='vendor/jquery/jquery-3.2.1.min.js')}}"></script>
      <script type="text/javascript" src="{{url_for('.static', filename='vendor/bootstrap/js/popper.js')}}"></script>
      <script type="text/javascript" src="{{url_for('.static', filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>
    {% endblock %}


</body>
</html>
