{% extends "layout.html" %}
{% block title %}
    <title>Welcome</title>
{% endblock %}



{% block content %}




<div class="container">
  <form method=post>
      <dl>
          {{ form.hidden_tag() }}
          {{ wtf.form_field(form.budget) }}
          {{ wtf.form_field(form.category) }}
      </dl>
      <p><input type="submit" value="Go" /></p>
  </form>
</div>

<div class="container">
{% if result != Null %}
    {% if result|length == 0 %}
        No items in category "{{ form.category.data.name }}".
    {% else %}

      <pre>
      {% for i in output %}
       {{i}}
      {% endfor %}
      </pre>
      <br>
        {% for x in result %}
        <table>
        <tbody>
            <tr>
                <td >
                  <img src ="image/{{ x['image_url'] }}">
                </td>
                <td class="details">
                    <table>
                    <tbody>
                        <tr>
                          <td>Product name: {{ x['name'] }}</td>
                          <td>Price: {{ x['price'] }}</td>
                        </tr>
                        <tr>
                          <td>Utility: {{ x['utility'] }}</td>
                          <td>Marginal utility: {{ x['marginal_utility'] }}</td>
                        </tr>
                        <tr>
                          <td class="description">Description:<br/>{{ x['description'] }}</td>
                        </tr>
                    </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
        </table>
        {% endfor %}

    {% endif %}

{% endif %}
</div>


{% endblock %}
