{% extends "layout.html" %}
{% block title %}
    <title>Welcome</title>
{% endblock %}

<body style="background-image: url({{ url_for('static', filename='images/first_page.jpg') }});">
{% block content %}
<style type="text/css">
    .item_grid-image {
        width: 200px;
        height: 200px;
    }
</style>

<form method=post>
    <dl>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.budget) }}
        {{ wtf.form_field(form.category) }}
    </dl>
    <p><input type="submit" value="Go" /></p>
</form>

{% if result != Null %}
<p>
    {% if result|length == 0 %}
        No items in category "{{ form.category.data.name }}".
    {% else %}
        <table>
        <tbody>
            {% for x in result %}
            <tr>
                <table>
                <tbody>
                    <tr>
                        <td class="item_grid-image"><img src ="{{ x['image_url'] }}"></td>
                        <td>
                            <table>
                            <tbody>
                                <tr><td>Product name: {{ x['name'] }}</td><td>Price: {{ x['price'] }}</td></tr>
                                <tr><td>Utility: {{ x['utility'] }}</td><td>Marginal utility: {{ x['marginal_utility'] }}</td></tr>
                                <tr><td>Description:<br/>{{ x['description'] }}</td></tr>
                            </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
                </table>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    {% endif %}
    </p>
{% endif %}


</body>
{% endblock %}
