{% extends "layout.html" %}

{% block title %}
    <title>Welcome</title>
{% endblock %}

{% block content %}

<div class="container">
  <h1> Welcome New Users! </h1>
  <p> Please start entering your budget below to start!
  <form class="form-signin" method=post>
      <dl>
          {{ form.hidden_tag() }}
          {{ wtf.form_field(form.budget) }}
          {{ wtf.form_field(form.category) }}
      </dl>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Start!</button>
  </form>

{% if products != Null %}
    <div class="container">
    {% if products|length == 0 %}
        No items in category "{{ form.category.data.name }}".
    {% else %}
        <pre>
        {% for i in output %}
            {{i}}
        {% endfor %}
        </pre>
        <br>
        {% include "_item_grid.html" %}
    {% endif %}
    </div>
{% endif %}

{% endblock %}
